.THIS .slds-form-element__label{ 

    display: none;

}

/* .THIS .slds-button__icon{ 

    display: none;

} */

.THIS .custom-label-hidden > label {
    display: none !important;
}
.THIS .help-txt-hidden .slds-form-element__icon {
    display: none !important;
}
.THIS .custom-help-text .slds-form-element__icon {
    padding-top: 1px;
}

@media (max-height: 649px) {
    .THIS .content-body {
        height: 42vh;
    }
}
@media (min-height: 650px) {
    .THIS .content-body {
        height: 56vh;
    }
}
@media (min-height: 950px) {
    .THIS .content-body {
        height: 70vh;
    }
}