@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sarabun.ttf') format('truetype');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Sarabun-Bold.ttf') format('truetype');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'THSarabunNew';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/THSarabunNew.ttf') format('truetype');
  /* unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC; */
}

@font-face {
  font-family: 'THSarabunNew';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/THSarabunNew-Bold.ttf') format('truetype');
  /* unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC; */
}