.THIS .preview-button {
    background-color: #D3D3D3;
    color: #000000;
    border-color: #BEBEBE;
}

.THIS #mailToCommitteeDetail .email {
    margin-top: -1rem;
}

.THIS #mailToCommitteeDetail .email-to .slds-form-element__control,
.THIS #mailToCommitteeDetail .email-urgent .slds-form-element__control {
    margin-left: 0.6rem;
}

.THIS #mailToCommitteeDetail .email-urgent .slds-form-element__control {
    width: 250px;
}

.THIS #mailToCommitteeDetail .email-to .slds-form-element .slds-form-element__label,
.THIS #mailToCommitteeDetail .email-urgent .slds-form-element .slds-form-element__legend {
    margin-left: 0.75rem;
}

.THIS #mailToCommitteeDetail .email-to .slds-form-element div,
.THIS #mailToCommitteeDetail .email-urgent .slds-form-element div {
    max-width: 99%;
}

.THIS #trcrReassignTaskDetail .slds-icon-text-default {
    --slds-c-icon-color-foreground: #FFFFFF;
}

.THIS .custom-help-txt .slds-form-element__icon {
    margin-top: -0.175rem;
}

.THIS .slds-rich-text-area__content {
    max-height: 10000rem;
}

@media (min-width: 48em) {

    .THIS .slds-form-element_horizontal .slds-form-element__control,
    .THIS .slds-form_horizontal .slds-form-element .slds-form-element__control,
    .THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
        padding-left: 16.66%;
        /* padding-left: unset; */
    }

    .THIS #finalConditionDetail .slds-form-element_horizontal .slds-form-element__control,
    .THIS #finalConditionDetail .slds-form_horizontal .slds-form-element .slds-form-element__control,
    .THIS #finalConditionDetail .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
        /* padding-left: 33.33%; */
        padding-left: unset;
    }

    .THIS #trcrReassignTaskDetail .slds-form-element_horizontal .slds-form-element__control,
    .THIS #trcrReassignTaskDetail .slds-form_horizontal .slds-form-element .slds-form-element__control,
    .THIS #trcrReassignTaskDetail .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
        padding-left: 3.33%;
    }
}

.THIS .help-txt-hidden .slds-form-element__icon {
    display: none !important;
}

.THIS .custom-help-std .slds-form-element__icon {
    padding-left: 20%;
    padding-top: 7px;
    padding-right: 2px;
}

.THIS .padding-left-label {
    padding-left: 6%;
}

.THIS .horizontal_form {
    margin-left: 2.8%;
    padding-left: 1%;
    margin-bottom: var(--lwc-spacingXSmall, 0.5rem);
}

.THIS .readonly-as-input .slds-input[readonly] {
    --slds-c-input-spacing-horizontal-start: unset;
    --slds-c-input-color-border: unset;
    --slds-c-input-color-background: unset;
    font-size: unset;
    font-weight: unset;
}

.THIS .align-error-msg .slds-form-element__help {
    margin-left: unset;
}